@model Library.Models.Borrow

@{
    ViewData["Title"] = "Details";
}
@{
    ViewData["Title"] = "Index";
    bool isAdmin = ViewData["IsAdmin"] as bool? ?? false;
    Layout = isAdmin ? "~/Views/Shared/_AdminLayout.cshtml" : "~/Views/Shared/_LoggedLayout.cshtml";
}
<h1>Details</h1>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BorrowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
