@model IEnumerable<Library.Models.Borrow>

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
    bool isAdmin = ViewData["IsAdmin"] as bool? ?? false;
    Layout = isAdmin ? "~/Views/Shared/_AdminLayout.cshtml" : "~/Views/Shared/_LoggedLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
